.auth-page {
   height: 100vh;
   width: 100vw;
   display: flex;
   align-items: center;
   justify-content: center;
}

.form-container {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 60vw;
   height: 60vh;
   margin: auto;
   border: 10px solid #ccc;
   border-radius: 20px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.lottie-container {
   width: 50%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.lottie-animation {
   width: 100%;
   height: auto;
   max-height: 200px;
   object-fit: contain;
}

.auth-form-container {
   width: 50%;
   height: 100%;
}

.auth-form-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 10px;
   background-color: #2e974891;
   border-radius: 50px 10px 10px 50px;
}

.form-heading {
   font-size: 40px;
   color: rgb(0, 0, 0);
}

.form {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 70%;
}

.form input {
   width: 100%;
   padding: 10px;
   margin-bottom: 15px;
   border: 1px solid #ccc;
   border-radius: 5px;
}

.form input:focus {
   border-color: #007bff;
   outline: none;
}

.form-group {
   display: flex;
   flex-direction: column;
}

.form-group label {
   margin-bottom: 5px;
   font-size: 16px;
   color: #333;
}

.form button {
   width: 100%;
   padding: 10px;
   margin: 10px 0;
   background-color: #007bff;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}

.form-link-btn {
   background-color: transparent;
   color: #007bff;
   border: none;
   text-align: center;
   cursor: pointer;
   text-decoration: underline;
   font-size: 15px;
}

.auth-form-container {
   transition: all 0.3s ease-in-out;
}

@media (max-width: 1200px) {
   .form-container {
      width: 65vw;
      height: auto;
   }
}

@media (max-width: 1000px) {
   .form-container {
      width: 80vw;
      height: auto;
   }
}

@media (max-width: 856px) {
   .form-container {
      width: 90vw;
      height: auto;
   }
}

@media (max-width: 700px){
   .lottie-container {
      display: none;
   }

   .auth-form-container {
      width: 100%;
      height: 100%;
      border-radius: 10px;
   }
}